@import url('cssvars.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--basic-stack-content-padding);
  color: #000;
  background: transparent;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .001), 0 2px 10px 0 rgba(0, 0, 0, 0.099);
  text-align: center;
}

.header-components svg:hover {
  cursor: pointer;
}

.main-page {
  /* background-image: url('./assets/img/priscilla-du-preez-ggeZ9oyI-PE-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
} 

.header h2 {
  font-weight: 780;
}
.header-components {
  display: flex;
  gap: 10px;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.main-page::after {
  content: '';
  inset: 0 0;
  background: rgba(255,255,255,.96);
  /* backdrop-filter: blur(5px); */
  position: absolute;
  height: 100%;
  width: 100%;
}

.main .main-content {
  color: #000;
  margin: auto;
  width: 50%;
  padding: 30px;
  z-index: 1;
}

.main .main-content .title {
  font-size: 10vmin;
  font-weight: 800;
  margin: 10px 0;
  line-height: 70px;
}

.main-content p {
  line-height: 110%;
}

.btn-holders {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 10px 0;
  gap: 10px;
}

.btn {
  font-size: 17px;
  padding: 10px 30px;
  border-radius: 5px;
  outline: none;
  font-weight: 900;
  border: none;
  background-color: #fff;
  color: var(--theme-color);
  border: 2px solid var(--theme-color);
  cursor: pointer;
  transition: 0.2s ease-in;
}

.btn a {
  color: var(--theme-color);
  text-decoration: none;
}

.btn.filled {
  background: var(--theme-color);
  color: #fff;
}

.btn.filled 

.facts-section {
  padding: 20px;
}

.facts-section h2{
  text-align: center;
  font-size: 8vmin;
  font-weight: 900;
}

.facts-section .facts-section-container {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3,1fr);
}

.facts-section-container .fact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 15px;
  text-align: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 10px;
  /* box-shadow: 0 0 7px 2px rgba(182, 182, 180, 0.4); */
}

.facts-section-container .fact:hover img {
  transform: scale(1.15);
}



.facts-section-container .fact img {
  width: 20vmin;
  transition: 0.4s ease-in-out;
  height: 20vmin;
  margin: auto;
}

.facts-section-container .fact  p{
  font-size: 18px;
}

.login-section {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  margin: 15vmin auto;
  justify-content: space-between;
  padding: 20px 30vmin;
  gap: 10vmin;
}

.login-section .login-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-section img {
  width: 60vmin;
  height: 60vmin;
}

.login-section .login-content {
  padding: 10px;
  display: grid;
  /* justify-content: center; */
  gap: 20px;
  /* background-color: red; */
}

.login-content h2 {
  font-size: 10vmin;
}

.login-content input {
  border: none;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 18px;
  padding: 10px;
  color: #363636;
}
.input-container {
  display: grid;
  gap: 5px;
  margin: 10px 0 ;
}

.input-container .input-title {
  font-size: 18px;
}

.input-container .input-title::after {
  content: ':'
}